<h1>ブログ一覧</h1>
<div class="container">
<% @blogs.each do |blog| %>
  <div class="row">
    <p><%= blog.content %></p>
    <p><%= link_to '詳細を確認する', blog_path(blog.id) %>
    <p><%= link_to '編集する', edit_blog_path(blog.id) %></p>
  <div>
<% end %>
<div>

<%= link_to 'ブログ一覧画面にもどる', blogs_path %>