header {
  height: 85px;
  margin: 0 0 15px;
  padding: 0 20px;
  background-color: #4469b0;
  color: #fff;
}

div.col-md-7 {
  overflow: hidden;
  background-color: #4469b0;
}

div.col-md-2 {
  background-color: #fff;
}

div.col-md-3 {
  background-color: #fff;
}

footer {
  position: relative;
  bottom: 0;
}